<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSPN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="./static/css/d3Style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>{{ data.home_team }} vs {{ data.away_team }}</h2>
        <p>{{ data.game_date}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Team Stats</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
          <table style="width:100%">
            <tr>
              <th>Team Stats</th>
              <th>{{ data.home_team }} </th>
              <th>{{ data.away_team }}</th>
            </tr>
            <tr>
              <td>Goals</td>
              <td>{{ data.home_team.goals }}</td>
              <td>{{ data.away_team.goals }}</td>
            </tr>
            <tr>
              <td>Shots</td>
              <td>{{ data.home_team.shots }}</td>
              <td>{{ data.away_team.shots }}</td>
            </tr>
            <tr>
              <td>Hits</td>
              <td>{{ data.home_team.hits }}</td>
              <td>{{ data.away_team.hits }}</td>
            </tr>
            <tr>
              <td>Penalty Minutes</td>
              <td>{{ data.home_team.pim }}</td>
              <td>{{ data.away_team.pim }}</td>
            </tr>
            <tr>
              <td>Power Play Percentage</td>
              <td>{{ data.home_team.powerPlayPercentage }}</td>
              <td>{{ data.away_team.powerPlayPercentage }}</td>
            </tr>
            <tr>
              <td>Face Off Win Percentage</td>
              <td>{{ data.home_team.faceOffWinPercentage }}</td>
              <td>{{ data.away_team.faceOffWinPercentage }}</td>
            </tr>
            <tr>
              <td>Shots Blocked</td>
              <td>{{ data.home_team.blocked }}</td>
              <td>{{ data.away_team.blocked }}</td>
            </tr>
            <tr>
              <td>Takeaways</td>
              <td>{{ data.home_team.takeaways }}</td>
              <td>{{ data.away_team.takeaways }}</td>
            </tr>
            <tr>
              <td>Giveaways</td>
              <td>{{ data.home_team.giveaways }}</td>
              <td>{{ data.away_team.giveaways }}</td>
            </tr>
          </table> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="shot_goal"></div>
      </div>
      <div class="col-md-4">
        <div id="face_off"></div>
      </div>
      <div class="col-md-4">
        <div id="hit"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="chart">
        <!-- <img src="./static/images/bg-rink.svg" z-index="-1"/> -->
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

</body>

</html>
